* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;

  &.layer {
    position: relative;
    overflow-y: hidden;

    &:after {
      position: fixed;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#000, .3);
      z-index: 9;
    }
  }
}

.container {
  max-width: 1630px;
  width: 100%;
  margin: auto;
  padding: 0 15px;

  @media (max-width: 1199px) {
    max-width: 960px;
  }

  @media (max-width: 991px) {
    max-width: 720px;
  }

  @media (max-width: 767px) {
    max-width: 650px;
  }
}

.btn {
  border: none;
  outline: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all .3s;
  cursor: pointer;

  &--orange {
    background-color: #FF741F;
    border-radius: 25px;
    padding: 14px 23px;
    font-size: 18px;
    line-height: 21px;

    @media (max-width: 1199px) {
      border-radius: 22px;
      padding: 12px 20px;
      line-height: normal;
      font-size: 17px;
    }

    @media (max-width: 991px) {
      border-radius: 20px;
      padding: 11px 19px;
      font-size: 16px;
    }

    @media (max-width: 767px) {
      border-radius: 20px;
      padding: 10px 18px;
      font-size: 15px;
    }

    @media (max-width: 575px) {
      border-radius: 19px;
      padding: 9px 15px;
      font-size: 14px;
    }

    &:hover {
      background-color: #131921;
    }
  }

  &--dark {
    background-color: #131921;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    border-radius: 8px;

    &:hover {
      background-color: #FF741F;
    }

  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.title-wrap {
  padding: 0 15px;

  &--centered {
    .title {
      text-align: center;
    }
  }

  &--left {
    padding-left: 40px;

    @media (max-width: 1199px) {
      padding-left: 30px;
    }

    @media (max-width: 991px) {
      padding-left: 22px;
    }

    @media (max-width: 767px) {
      padding-left: 17px;
    }

    @media (max-width: 575px) {
      padding-left: 0;
    }
  }

  .title {
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.04em;
    color: #131921;
    position: relative;


    span {
      position: relative;
    }

    @media (max-width: 1199px) {
      line-height: normal;
      font-size: 35px;

      br {
        display: none;
      }
    }

    @media (max-width: 991px) {
      font-size: 30px;
    }

    @media (max-width: 767px) {
      font-size: 25px;
    }

    @media (max-width: 575px) {
      font-size: 20px;

      br {
        display: none;
      }
    }

    .title-paraphernalia {
      display: block;
      width: 31.05px;
      height: 12px;
      position: absolute;
      background: #FF741F;
      opacity: 0.9;
      transform: rotate(-120deg);
      bottom: calc(~'100% + 12px');
      right: calc(~ '100% - 5px');

      @media (max-width: 1199px) {
        transform: rotate(-120deg) scale(.9);
        bottom: calc(~'100% + 8px');
        right: calc(~ '100% - 10px');
      }

      @media (max-width: 991px) {
        transform: rotate(-120deg) scale(.8);
        bottom: calc(~'100% + 6px');
        right: calc(~ '100% - 15px');
      }

      @media (max-width: 767px) {
        transform: rotate(-120deg) scale(.7);
      }

      @media (max-width: 575px) {
        display: none;
      }

      &:before,
      &:after {
        position: absolute;
        content: '';
        background: #FF741F;
        opacity: 0.9;
      }

      &:before {
        width: 22.86px;
        height: 8.83px;
        transform: rotate(140deg);
        top: -20px;
        left: -6px;
      }

      &:after {
        width: 17.65px;
        height: 6.82px;
        transform: rotate(115deg);
        top: -30px;
        left: -17px;
      }
    }
  }
}

.subtitle {
  position: relative;
  font-size: 18px;
  color: #ff741f;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  @media (max-width: 1199px) {
    line-height: normal;
    font-size: 15px;
  }

  @media (max-width: 991px) {
    font-size: 14px;
  }

  @media (max-width: 767px) {
    font-size: 13px;
  }

  @media (max-width: 575px) {
    font-size: 12px;
  }

  span {
    height: .5px;
    width: 50px;
    background-color: #FF741F;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;

    @media (max-width: 991px) {
      width: 45px;
    }

    @media (max-width: 767px) {
      width: 40px;
    }

    @media (max-width: 575px) {
      width: 30px;
      margin-left: 0;
    }
  }
}

.header {
  padding-top: 53px;
  padding-bottom: 70px;
  transition: all .3s;
  background-color: #fff;

  @media (max-width: 1199px) {
    padding: 35px 0;
  }

  @media (max-width: 991px) {
    padding: 30px 0;
  }

  @media (max-width: 767px) {
    padding: 25px 0;
  }

  @media (max-width: 575px) {
    padding: 15px 0;
  }

  &__col-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }

  &__col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1199px) {
      max-width: 200px;
      width: 100%;
    }

    @media (max-width: 991px) {
      max-width: 180px;
    }

    @media (max-width: 767px) {
      max-width: 170px;
    }

    @media (max-width: 575px) {
      max-width: 160px;
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
    color: #131921;
    padding-bottom: 4px;

    @media (max-width: 575px) {
      display: block;
      font-size: 20px;
    }
  }

  .feedback-btn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;


    .icon {
      display: none;
      font-size: 25px;
      color: #ff741f;
      transition: all .3s;
      padding-top: 3px;

      @media (max-width: 991px) {
        display: block;
      }

      @media (max-width: 575px) {
        font-size: 27px;
      }

      &:hover {
        color: #656d77;
      }
    }

    .btn {
      @media (max-width: 1199px) {
        padding: 10px 15px;
        font-size: 17px;
      }

      @media (max-width: 991px) {
        display: none;
      }
    }

  }

  &__nav {
    @media (max-width: 575px) {
      display: none;
    }

    li {
      margin-right: 40px;
      display: inline-block;

      @media (max-width: 1199px) {
        margin-right: 30px;
      }

      @media (max-width: 991px) {
        margin-right: 20px;
      }

      @media (max-width: 767px) {
        margin-right: 10px;
      }

      a {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #656D77;
        transform: none;
        transition: all .3s;

        @media (max-width: 1199px) {
          font-size: 17px;
        }

        @media (max-width: 991px) {
          font-size: 16px;
        }

        @media (max-width: 767px) {
          font-size: 14px;
        }

        &:hover {
          color: #FF741F;
        }
      }
    }
  }

  &.fixed {
    z-index: 11;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    box-shadow: -8px 8px 24px rgba(0, 0, 0, 0.15);
    top: -100%;
    opacity: 0;

    .header__logo {
      max-width: 170px;
    }

    .btn {
      font-size: 16px;
      padding: 10px;
      min-height: auto;
      line-height: normal;
      border-radius: 5px;
    }
  }

  &.open {
    top: 0;
    opacity: 1;
  }

  .menu {
    position: fixed;
    background-color: rgba(#fff, .98);
    width: 100%;
    height: auto;
    top: -100%;
    box-shadow: -8px 8px 24px rgba(0, 0, 0, 0.15);
    padding: 30px 15px;
    z-index: 99;
    transition: all .3s;

    &__close {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header__nav {
      display: flex;
      flex-direction: column;

      li {
        margin-right: 0;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        font-size: 20px;
        font-weight: 400;
        color: #131921;
      }
    }

    &.--open {
      top: 0;
    }
  }
}


.hero {
  position: relative;
  margin-bottom: 128px;

  @media (max-width: 1199px) {
    margin-bottom: 70px;
  }

  @media (max-width: 991px) {
    margin-bottom: 60px;
  }

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }

  @media (max-width: 575px) {
    margin-bottom: 20px;
  }

  &__slide-item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    min-height: 630px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1199px) {
      min-height: 550px;
    }

    @media (max-width: 991px) {
      min-height: 500px;
    }

    @media (max-width: 767px) {
      min-height: 450px;
    }

    @media (max-width: 575px) {
      min-height: 400px;
    }

    h2 {
      color: #131921;
      font-weight: 900;
      font-size: 54px;
      line-height: 63px;
      letter-spacing: 0.04em;
      margin-bottom: 73px;

      @media (max-width: 1199px) {
        line-height: normal;
        font-size: 50px;
        margin-bottom: 69px;
      }

      @media (max-width: 991px) {
        font-size: 40px;
        margin-bottom: 59px;
      }

      @media (max-width: 767px) {
        font-size: 30px;
        margin-bottom: 49px;
      }

      @media (max-width: 575px) {
        font-size: 20px;
        margin-bottom: 39px;
      }

      span {
        font-weight: 700;
        color: #ff741f;
      }
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #656D77;
      margin-bottom: 6px;

      @media (max-width: 1199px) {
        font-size: 19px;
        line-height: normal;
      }

      @media (max-width: 991px) {
        font-size: 18px;
      }

      @media (max-width: 767px) {
        font-size: 17px;
      }

      @media (max-width: 575px) {
        font-size: 16px;

        br {
          display: none;
        }
      }

      b {
        color: #363C49;
        letter-spacing: 0.04em;
        font-size: 24px;
        line-height: 28px;

        @media (max-width: 1199px) {
          font-size: 21px;
          line-height: normal;
        }

        @media (max-width: 991px) {
          font-size: 19px;
        }

        @media (max-width: 767px) {
          font-size: 18px;
        }

        @media (max-width: 575px) {
          font-size: 17px;
        }
      }
    }

    .btn {
      margin-top: 52px;

      @media (max-width: 1199px) {
        margin-top: 45px;
      }

      @media (max-width: 991px) {
        margin-top: 40px;
      }

      @media (max-width: 767px) {
        margin-top: 35px;
      }

      @media (max-width: 575px) {
        margin-top: 30px;
      }
    }
  }


  .swiper-slide {
    padding-bottom: 5px;
  }

  .swiper-pagination {
    bottom: auto;
    top: 100%;
    margin-top: 63px;
    z-index: 1;

    @media (max-width: 1199px) {
      margin-top: 40px;
    }

    @media (max-width: 991px) {
      margin-top: 30px;
    }

    @media (max-width: 767px) {
      margin-top: 20px;
    }

    @media (max-width: 575px) {
      margin-top: 10px;
    }

    .swiper-pagination-bullet {
      width: 60px;
      height: 10px;
      border-radius: 5px;
      border: 1px solid #FF741F;
      background-color: transparent;
      opacity: 1;
      transition: all .3s;

      &.swiper-pagination-bullet-active {
        background-color: #FF741F;
      }

      &:hover {
        background-color: #FF741F;
      }
    }
  }
}

.advantages {
  min-height: 100vh;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
  padding-top: 40px;
  padding-bottom: 34px;
  margin-bottom: 54px;

  @media (max-width: 575px) {
    margin-bottom: 30px;
  }

  &__col-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;

    @media (max-width: 1199px) {
      flex-direction: column;
      margin-top: 55px;
    }

    @media (max-width: 991px) {
      margin-top: 45px;
    }

    @media (max-width: 767px) {
      margin-top: 35px;
    }

    @media (max-width: 575px) {
      margin-top: 30px;
    }
  }

  &__col {
    max-width: calc(~'50% - 3.9%');
    width: 100%;

    @media (max-width: 1599px) {
      max-width: calc(~'50% - 2%');
    }

    @media (max-width: 1399px) {
      max-width: calc(~'50% - 1%');
    }

    @media (max-width: 1199px) {
      max-width: 100%;
    }



    &:first-child {
      @media (max-width: 991px) {
        max-width: 100%;
      }

      .advantages__links-wrap {
        @media (max-width: 991px) {
          justify-content: center;
        }

        .advantages__link-wrap {
          &:nth-child(2n) {
            margin-left: 20px;

            @media (max-width: 575px) {
              margin-left: 0;
            }
          }
        }
      }

      .advantages__item {
        margin-bottom: 50px;

        @media (max-width: 1199px) {
          margin-bottom: 45px;
        }

        @media (max-width: 767px) {
          margin-bottom: 40px;
        }

        @media (max-width: 575px) {
          margin-bottom: 35px;
        }
      }
    }

    &:last-child {
      .advantages__links-wrap {
        margin-top: 68px;
      }
    }
  }

  &__links-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;

    @media (max-width: 1199px) {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
  }

  &__link-wrap {
    background-color: #FF741F;
    max-width: calc(~'50% - 3.5%');
    width: 100%;

    @media (max-width: 1599px) {
      max-width: calc(~'50% - 2%');
    }

    @media (max-width: 1399px) {
      max-width: calc(~'50% - 1%');
    }

    @media (max-width: 1199px) {
      max-width: calc(~'50% - 2%');
      margin-bottom: 20px;
    }

    @media (max-width: 991px) {
      max-width: 320px;
    }

    @media (max-width: 767px) {
      max-width: 300px;
    }

    @media (max-width: 670px) {
      max-width: 270px;
    }

    @media (max-width: 610px) {
      max-width: 250px;
    }

    @media (max-width: 575px) {
      max-width: 320px;
    }
  }

  &__link {
    width: 100%;
    padding: 60px 5.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F8FAFF;
    box-shadow: -8px 8px 24px rgba(0, 0, 0, 0.15);
    position: relative;
    transition: all .3s;
    height: 100%;

    @media (max-width: 991px) {
      padding: 45px 5.8%;
    }

    @media (max-width: 767px) {
      padding: 35px 5.8%;
    }

    @media (max-width: 575px) {
      padding: 30px 5.8%;
    }

    &:hover {
      transform: rotate(6.1deg);
      background-color: #FFE9B7;
      z-index: 1;
    }
  }

  &__link-img {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: 991px) {
      margin-bottom: 25px;
      max-width: 70px;
      width: 100%;
      min-height: 70px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__link-title {
    color: #656d77;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
    text-align: center;

    @media (max-width: 991px) {
      line-height: normal;
      font-size: 18px;
      margin-bottom: 20px;
    }

    @media (max-width: 767px) {
      font-size: 17px;
    }
  }

  &__link-desc {
    color: #131921;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    @media (max-width: 991px) {
      line-height: normal;
      font-size: 17px;
    }

    @media (max-width: 767px) {
      font-size: 15px;
    }
  }

  &__link-arrow {
    color: #FF741F;
    line-height: 13px;
    margin-top: 17px;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      background-image: url('img/arrow.webp');
      left: calc(100% + 5px);
      bottom: 0;
      background-repeat: no-repeat;
      background-size: contain;
    }

    svg {
      margin-left: 7px;
    }
  }

  &__item {
    padding-left: 14px;
    margin-bottom: 13px;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    color: #363C49;
    margin-bottom: 38px;

    @media (max-width: 1199px) {
      font-size: 17px;
      line-height: normal;
      margin-bottom: 35px;
    }

    @media (max-width: 991px) {
      margin-bottom: 32px;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      margin-bottom: 25px;
    }
  }

  &__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #131921;
    margin-bottom: 13px;
    position: relative;
    text-transform: uppercase;

    @media (max-width: 1199px) {
      font-size: 17px;
      margin-bottom: 12px;
      line-height: normal;
    }

    @media (max-width: 991px) {
      font-size: 16px;
      margin-bottom: 11px;
    }

    @media (max-width: 767px) {
      font-size: 15px;
      margin-bottom: 10px;
    }

    @media (max-width: 575px) {
      font-size: 14px;
      margin-bottom: 9px;
    }

    &:before {
      position: absolute;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: #ff741f;
      top: 50%;
      transform: translateY(-50%);
      left: -14px;
    }
  }

  &__item-desc {
    font-size: 18px;
    line-height: 26px;
    color: #363C49;

    @media (max-width: 1199px) {
      font-size: 17px;
      line-height: normal;
    }

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 767px) {
      font-size: 15px;
    }

    @media (max-width: 575px) {
      font-size: 14px;
    }
  }

  .counts {
    &__item-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1199px) {
        flex-wrap: wrap;
      }

      @media (max-width: 575px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      margin-right: 80px;

      @media (max-width: 1599px) {
        margin-right: 70px;
      }

      @media (max-width: 1499px) {
        margin-right: 60px;
      }

      @media (max-width: 1399px) {
        margin-right: 50px;
      }

      @media (max-width: 1299px) {
        margin-right: 40px;
      }

      @media (max-width: 1199px) {
        max-width: 50%;
        width: 100%;
        margin: 0;
      }

      @media (max-width: 575px) {
        max-width: 100%;
      }

      &:last-child {
        margin-right: 0;
      }

      .count {
        margin-right: 25px;
        color: #FF741F;
        font-weight: 900;
        font-size: 90px;
        line-height: 105px;
        letter-spacing: 0.04em;
        text-transform: capitalize;

        @media (max-width: 1599px) {
          line-height: normal;
          font-size: 80px;
          margin-right: 23px;
        }

        @media (max-width: 1499px) {
          font-size: 70px;
          margin-right: 20px;
        }

        @media (max-width: 1299px) {
          font-size: 60px;
          margin-right: 18px;
        }

        @media (max-width: 1199px) {
          font-size: 55px;
          margin-right: 15px;
          max-width: 136px;
          width: 100%;
        }

        @media (max-width: 991px) {
          font-size: 50px;
          margin-right: 10px;
        }

        @media (max-width: 767px) {
          font-size: 40px;
          max-width: 100px;
        }

        @media (max-width: 575px) {
          margin-right: 20px;
          font-size: 30px;
          min-width: 70px;
          max-width: 70px;
        }
      }
    }

    &__title {
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      text-transform: uppercase;
      color: #363C49;

      @media (max-width: 1599px) {
        line-height: normal;
        font-size: 21px;
      }

      @media (max-width: 1499px) {
        font-size: 20px;
      }

      @media (max-width: 1299px) {
        font-size: 19px;
      }

      @media (max-width: 1199px) {
        font-size: 18px;
      }

      @media (max-width: 991px) {
        font-size: 17px;
      }

      @media (max-width: 767px) {
        font-size: 16px;
      }

      @media (max-width: 575px) {
        font-size: 14px;

        br {
          display: none;
        }
      }
    }
  }
}

.providers {
  margin-bottom: 50px;
  padding-top: 80px;

  @media (max-width: 1199px) {
    margin-bottom: 40px;
    padding-top: 30px;
  }

  @media (max-width: 991px) {
    padding-top: 20px;
  }

  &__slider {
    margin-top: 60px;
    position: relative;

    @media (max-width: 1199px) {
      margin-top: 50px;
    }

    @media (max-width: 991px) {
      margin-top: 45px;
    }

    @media (max-width: 767px) {
      margin-top: 40px;
    }

    @media (max-width: 575px) {
      margin-top: 35px;
    }


    &:before,
    &:after {
      position: absolute;
      content: '';
      width: 160px;
      height: 60px;
      top: 50%;
      transform: translateY(-50%);
      background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 51.56%, rgba(255, 255, 255, 0) 100%);
      z-index: 2;

      @media (max-width: 1199px) {
        width: 130px;
      }

      @media (max-width: 991px) {
        width: 110px;
      }

      @media (max-width: 767px) {
        width: 90px;
      }

      @media (max-width: 575px) {
        display: none;
      }
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    img {
      filter: grayscale(1);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      width: auto;

      @media (max-width: 575px) {
        width: 100%;
      }
    }
  }
}

.about {
  position: relative;
  padding-top: 80px;

  @media (max-width: 1199px) {
    padding-top: 60px;
  }

  @media (max-width: 991px) {
    padding-top: 40px;
  }

  @media (max-width: 575px) {
    padding-top: 20px;
  }

  &__wrap {
    position: relative;
  }

  &__desc {
    margin-top: 60px;
    max-width: 50%;
    width: 100%;

    @media (max-width: 1199px) {
      margin-top: 60px;
    }

    @media (max-width: 991px) {
      margin-top: 50px;
      max-width: 70%;
    }

    @media (max-width: 767px) {
      margin-top: 40px;
      max-width: 100%;
    }

    @media (max-width: 575px) {
      margin-top: 30px;
    }

    p {
      margin-bottom: 24px;
      line-height: 24px;
      color: #131921;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__bg {
    max-width: 48.43%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    @media (max-width: 1199px) {
      top: auto;
      bottom: 0;
    }

    @media (max-width: 991px) {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      max-width: 35%;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.feedback {
  margin: 80px 0;

  @media (max-width: 1199px) {
    margin: 70px 0;
  }

  @media (max-width: 991px) {
    margin: 60px 0;
  }

  @media (max-width: 767px) {
    margin: 50px 0;
  }

  @media (max-width: 575px) {
    margin: 40px 0;
  }

  &__col-wrap {
    display: flex;
    align-items: flex-end;

    @media (max-width: 1199px) {
      flex-direction: column;
    }
  }

  &__col {


    &:first-child {
      padding-top: 35px;
      width: 40.93%;
      padding-right: 48px;
      border-right: 4px solid #FF741F;

      @media (max-width: 1499px) {
        width: 50%;
        border: none;
      }

      @media (max-width: 1350px) {
        padding-right: 25px;
        width: 45%;
      }

      @media (max-width: 1199px) {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
      }
    }

    &:last-child {
      padding-left: 48px;
      width: 50.25%;

      @media (max-width: 1499px) {
        width: 50%;
        border-left: 4px solid #FF741F;
      }

      @media (max-width: 1350px) {
        padding-left: 25px;
        width: 55%;
      }

      @media (max-width: 1199px) {
        width: 100%;
        border: none;
        padding: 0;
      }
    }
  }

  &__desc {
    margin-top: 30px;

    p {
      text-align: right;
      font-size: 20px;
      line-height: 28px;
      color: #131921;

      @media (max-width: 1199px) {
        text-align: left;
        font-size: 19px;
      }

      @media (max-width: 991px) {
        font-size: 18px;
      }

      @media (max-width: 767px) {
        font-size: 17px;
      }

      @media (max-width: 575px) {
        font-size: 16px;
      }

    }
  }

  &__form-title {
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    color: #363C49;

    @media (max-width: 1499px) {
      font-size: 30px;
      line-height: normal;
    }

    @media (max-width: 1199px) {
      font-size: 25px;
      line-height: normal;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    @media (max-width: 1199px) {
      justify-content: space-between;
    }

    @media (max-width: 575px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__form-group {
    max-width: 250px;
    width: 100%;
    margin-right: 48px;
    margin-top: 24px;

    @media (max-width: 1499px) {
      margin-right: 35px;
    }

    @media (max-width: 1350px) {
      margin-right: 25px;
    }

    @media (max-width: 1199px) {
      max-width: 48%;
      margin-right: 0;
    }

    @media (max-width: 575px) {
      max-width: 100%;
    }

    .select {
      @media (max-width: 1199px) {
        max-width: 100%;
      }
    }

    input {
      background: #FFFFFF;
      border: 1px solid #131921;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 10px 15px;
      min-height: 40px;
      width: 100%;

      &::placeholder {
        font-size: 16px;
        line-height: 19px;
        color: #131921;
        opacity: 0.5;
      }
    }
  }

  .btn {
    min-height: 40px;
    padding: 10px 35px;
    font-weight: 400;
    margin-top: 24px;
  }
}

.select {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  max-width: 250px;
  width: 100%;
  min-height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;

  &:before,
  &:after {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.54);
    width: 10px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:before {
    transform: rotate(45deg) translateY(-50%);
    right: 22px;
  }

  &:after {
    transform: rotate(-45deg) translateY(-50%);
    right: 14px;
  }

  &__selected {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
  }

  &__dropdown {
    position: absolute;
    top: calc(100% - 5px);
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 8px 8px;
    display: none;
    overflow: hidden;
  }

  &__option {
    padding: 5px 15px;
    transition: all .3s;
    background-color: #fff;
    border-bottom: 1px solid rgba(85, 85, 85, 0.089);

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: rgba(85, 85, 85, 0.089);
    }
  }
}

.footer {
  &__col-wrap {
    display: flex;
    align-items: stretch;

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__col {
    width: 50%;

    @media (max-width: 991px) {
      width: 100%;
    }

    &:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__top {
    background-color: #323232;
    padding: 70px 0;

    @media (max-width: 1199px) {
      padding: 60px 0;
    }

    @media (max-width: 991px) {
      padding: 50px 0;
    }

    @media (max-width: 767px) {
      padding: 40px 0;
    }

    @media (max-width: 575px) {
      padding: 30px 0;
    }
  }

  &__logo {
    max-width: 465px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    @media (max-width: 1199px) {
      max-width: 400px;
    }

    @media (max-width: 991px) {
      max-width: 350px;
    }

    @media (max-width: 767px) {
      max-width: 300px;
    }

    @media (max-width: 575px) {
      max-width: 200px;
    }
  }

  &__info {
    margin-bottom: 30px;

    p {
      color: #fff;
      font-weight: 300;
      line-height: 20px;
    }
  }

  #map {
    width: 100%;
    min-height: 355px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__bottom {
    background-color: #FF741F;
    min-height: 60px;
    padding: 22px 0;

    .footer__col-wrap {
      @media (max-width: 991px) {
        flex-direction: row;

        .footer__col {
          width: auto;

          &:first-child {
            margin-right: 20px;

            @media (max-width: 767px) {
              margin-bottom: 20px;
              margin-right: 0;
            }
          }
        }
      }

      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    .footer__col,
    .footer__col a {
      color: #fff;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
    }

    .footer__col a {
      margin-right: 15px;
      transition: all .3s;

      &:hover {
        color: #323232;
      }
    }
  }
}

.social {
  li {
    display: inline-block;
    margin-right: 23px;

    @media (max-width: 1199px) {
      margin-right: 20px;
    }

    @media (max-width: 991px) {
      margin-right: 18px;
    }

    @media (max-width: 767px) {
      margin-right: 16px;
    }

    @media (max-width: 575px) {
      margin-right: 13px;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: #FF741F;
      color: #323232;
      font-size: 25px;
      transition: all .3s;

      @media (max-width: 1199px) {
        width: 45px;
        height: 45px;
        font-size: 22px;
      }

      @media (max-width: 991px) {
        width: 40px;
        height: 40px;
        font-size: 20px;
      }

      @media (max-width: 767px) {
        width: 35px;
        height: 35px;
        font-size: 17px;
      }

      @media (max-width: 575px) {
        width: 30px;
        height: 30px;
        font-size: 15px;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}